{% extends 'authapp/index.html' %}
{% block content%}
<div id="login-outer-block">
  <div id="login-inner-block">
    <form method="POST" action="{% url 'authapp-login' %}">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" id="usernameInput" name="username" aria-describedby="usernameHelp" placeholder="Username" autofocus>
      </div>
      <div class="d-grid col-8 mx-auto">
        <button type="submit" class="btn btn-primary mt-4">Login</button>
      </div>
      <hr>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-sm" formaction="{% url 'otp-login' %}">Login using OTP</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
