{% extends 'authapp/index.html' %}
{% block content%}
<div id="login-outer-block">
  <div id="login-inner-block">
    <form method="POST" action="{% url 'standard-login' %}">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{ username }}">
      <p>{{ username }}</p>
      <div class="form-group mt-2">
        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password" autofocus>
      </div>
      <div class="d-grid col-8 mx-auto">
        <button type="submit" class="btn btn-primary mt-4">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
